
<!DOCTYPE html>
<html lang="en" dir="cpanel.direction">

<head>

<!--=============== basic  ===============-->
<meta charset="UTF-8">
<title>CODETEK | Services</title>
<meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="robots" content="index, follow" />
<meta name="keywords" content="sadasd" />
<meta name="description" content="asd" />
<meta name="csrf-token" content="r49TTXH3gbgOEHx6G0m1I4jyXkUWKlDAJ5z4mRMM">

<!--=============== css  ===============-->
<link type="text/css" rel="stylesheet" href="http://localhost/safeer/frontend/css/reset.css">
<link type="text/css" rel="stylesheet" href="http://localhost/safeer/frontend/css/plugins.css">
<link type="text/css" rel="stylesheet" href="http://localhost/safeer/frontend/css/style.css">
<link type="text/css" rel="stylesheet" href="http://localhost/safeer/frontend/css/color.css">
<!--=============== favicons ===============-->
<link rel="shortcut icon" href="http://localhost/safeer/frontend/images/favicon.ico">
</head>


<body>
<!--Loader -->
<div class="loader2">
    <div class="loader loader_each"><span></span></div>
</div>

<div id="main">

<!-- header start  -->
<header class="main-header">
<a href="http://localhost/safeer" class="header-logo ajax"><img src="http://localhost/safeer/uploads/settings/15719279383353.png" alt=""></a>
    <!-- sidebar-button -->
    <!-- nav-button-wrap-->
    <div class="nav-button-wrap">
        <div class="nav-button">
            <span class="nos"></span>
            <span class="ncs"></span>
            <span class="nbs"></span>
            <div class="menu-button-text">frontend.menu</div>
        </div>
    </div>
    <!-- nav-button-wrap end-->
    <!-- sidebar-button end-->
    <!--  navigation -->
    <div class="header-contacts">
        <ul>
            <li><span> frontend.call </span> <a href="tel:7056145094">7056145094</a></li>
            <li><span> frontend.write </span> <a href="mailto:abdulsalam.alroas@gmail.com">abdulsalam.alroas@gmail.com</a></li>
        </ul>
    </div>
    <!-- navigation  end -->
</header>
<!-- header end -->
<!-- left-panel -->
    <div class="left-panel">
        <div class="horizonral-subtitle"><span><strong></strong></span></div>
        <div class="left-panel_social">
            <ul>

            <li><a href="01689627895" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="01689627895" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="01689627895" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="01689627895" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- left-panel end -->

    <!-- share-button -->
    <div class="share-button showshare">
        <span>frontend.share</span>
    </div>
    <!-- share-button end -->



<div id="wrapper">
    <!-- content-holder  -->
    <div class="content-holder" data-pagetitle=" Services  ">
        <!-- nav-holder-->
        <div class="nav-holder but-hol">
            <div class="nav-scroll-bar-wrap fl-wrap">

                <!-- nav -->
                <nav class="nav-inner" id="menu">
                    <ul>
                        <li>
                        <a href="#" class="act-link">frontend.home</a>
                            <!--level 2 -->
                            <ul>

                                <li><a href="http://localhost/safeer" class="ajax act-link">frontend.interior_design</a></li>
                                <li><a href="http://localhost/safeer/exterior_design" class="ajax">frontend.exterior_design</a></li>
                                <li><a href="http://localhost/safeer/restoration" class="ajax">frontend.restoration</a></li>

                            </ul>
                            <!--level 2 end -->
                        </li>
                        <li>
                        <a href="http://localhost/safeer/about">frontend.about</a>
                        </li>
                        <li>
                        <a href="http://localhost/safeer/portfolios">frontend.portfolio</a>

                        </li>
                        <li><a href="http://localhost/safeer/services" class="ajax">frontend.services</a></li>
                        <li><a href="http://localhost/safeer/contact" class="ajax">frontend.contact_us</a></li>
                        <li><a href="http://localhost/safeer/blog" class="ajax">frontend.blog</a></li>
                    </ul>
                </nav>
                <!-- nav end-->
                <!--lang-links-->
                <div class="lang-links fl-wrap">
                    <a href="http://localhost/safeer/lang/en" )
                        class="act-leng"
                    >EN</a>
                    <a    href="http://localhost/safeer/lang/ar">AR</a>
                    <a    href="http://localhost/safeer/lang/tr">TR</a>
                </div>
                <!--lang-links end-->
            </div>
            <!--nav-social-->
            <div class="nav-social">
                <span class="nav-social_title">frontend.follow_us : </span>
          <ul>

                <li><a href="01689627895" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li><a href="01689627895" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
                <li><a href="01689627895" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="01689627895" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul>
            </div>
            <!--nav-social end -->
        </div>
        <div class="nav-overlay">
            <div class="element"></div>
        </div>
        <!-- nav-holder end -->




<div class="content">
    <!--fixed-column-wrap-->
    <div class="fixed-column-wrap">
        <div class="pr-bg"></div>
        <!--fixed-column-wrap-content-->
        <div class="fixed-column-wrap-content">
            <div class="scroll-nav-wrap color-bg">
                <div class="carnival">frontend.scroll_down</div>
                <div class="snw-dec">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                </div>
            </div>
            <div class="bg" data-bg="{{ asset('frontend/images/bg/1.jpg') }}"></div>
            <div class="overlay"></div>
            <div class="progress-bar-wrap bot-element">
                <div class="progress-bar"></div>
            </div>
            <!--fixed-column-wrap_title-->
            <div class="fixed-column-wrap_title first-tile_load">
                <h2>Our<br> Services</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus
                    lobortis pulvinar.</p>
            </div>
            <!--fixed-column-wrap_title end-->
            <div class="fixed-column-dec"></div>
        </div>
        <!--fixed-column-wrap-content end-->
    </div>
    <!--fixed-column-wrap end-->
    <!--column-wrap-->
    <div class="column-wrap">
        <!--column-wrap-container -->
        <div class="column-wrap-container fl-wrap">
            <div class="col-wc_dec">
                <div class="pr-bg pr-bg-white"></div>
            </div>
            <div class="col-wc_dec col-wc_dec2">
                <div class="pr-bg pr-bg-white"></div>
            </div>
            <!--section-->

                                    <section class="small-padding">
                <div class="container">
                    <div class="split-sceen-content_title fl-wrap">
                        <div class="pr-bg pr-bg-white"></div>
                        <h3> ew</h3>

                    </div>
                    <div class="column-wrap-content fl-wrap">

                        <div class="column-wrap-media fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                        <img src="http://localhost/safeer/uploads/services/15718637649617.jpg" class="respimg" alt="ew">

                        </div>

                        <div class="serv-text fl-wrap">
                            <div class="pr-bg pr-bg-white"></div>
                            <div class="row">
                                <div class="col-md-8">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.</p>
                                </div>
                                <div class="col-md-4">
                                    <div class="serv-price-wrap dark-bg">
                                        <span>frontend.price</span>32</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-number right_sn">
                        <div class="pr-bg pr-bg-white"></div>
                        <span>0</span>1.
                    </div>
                </div>
            </section>
            <!--section end-->
            <div class="section-separator"></div>
                        <!--section end-->
            <div class="section-separator"></div>
            <div class="clearfix"></div>
            <div class="container">
                <div class="order-wrap dark-bg fl-wrap">
                    <div class="pr-bg pr-bg-white"></div>
                    <h4>frontend.READY_TO_ORDER_YOUR_PROJECT_? </h4>
                    <a href="{{URL('/contact')}}" class="ajax">frontend.get_in_touch <i class="fal fa-envelope"></i></a>
                </div>
            </div>
        </div>
        <!--column-wrap-container end-->
    </div>
    <!--column-wrap end-->
    <div class="limit-box fl-wrap"></div>
</div>
<!--content end -->
<!-- footer -->
<!-- footer -->
<div class="height-emulator fl-wrap"></div>
<footer class="main-footer fixed-footer">
    <div class="pr-bg"></div>
    <div class="container">
        <div class="fl-wrap footer-inner">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-logo">
                    <img src="http://localhost/safeer/uploads/settings/15719279383353.png" alt="">
                    </div>
                    <div class="footer_text  footer-box fl-wrap">
                        <p>Our team takes over everything, from an idea and concept development to realization. We
                            believe in traditions and incorporate them within our innovations.Client is the soul of the
                            project.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-header fl-wrap"><span>01.</span> frontend.contact_us</div>
                    <!-- footer-contacts-->
                    <div class="footer-contacts footer-box fl-wrap">
                        <ul>
                            <li><span>frontend.call:</span><a href="tel:7056145094">7056145094</a></li>
                            <li><span>frontend.write :</span><a href="mailto:abdulsalam.alroas@gmail.com">abdulsalam.alroas@gmail.com</a></li>
                            <li><span>frontend.find_us : </span><a href="#">Kayseri, Turkey</a></li>
                        </ul>
                    </div>
                    <!-- footer contacts end -->
                    <a href="{{URL('/contact')}}" class="ajax fc_button">frontend.get_in_touch <i class="fal fa-envelope"></i></a>
                </div>
                <div class="col-md-4">
                    <div class="footer-header fl-wrap"><span>02.</span>  frontend.subscribe  </div>
                    <div class="footer-box fl-wrap">
                        <p>Want to be notified when we launch a new template or an udpate. Just sign up and we'll send
                            you a notification by email.</p>
                        <div class="subcribe-form fl-wrap">
                            <form id="subscribe" class="fl-wrap">
                            <input class="enteremail" name="email" id="subscribe-email" placeholder="frontend.your_email"
                                    spellcheck="false" type="text">
                                <button type="submit" id="subscribe-button" class="subscribe-button"> frontend.send <i
                                        class="fal fa-long-arrow-right"></i></button>
                                <label for="subscribe-email" class="subscribe-message"></label>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subfooter fl-wrap">
            <!-- policy-box-->
            <div class="policy-box">
                <span>&#169; Copyright ©   Kodatik Technology Solutions.  All rights reserved.</span>
            </div>
            <!-- policy-box end-->
            <a href="#" class="to-top-btn to-top">frontend.back_to_top <i class="fal fa-long-arrow-up"></i></a>
        </div>
    </div>
    <div class="footer-canvas">
        <div class="dots gallery__dots" data-dots=""></div>
    </div>
</footer>
<!-- footer  end -->
<!-- footer  end -->
<!-- share-wrapper-->
<div class="share-wrapper">
    <div class="close-share-btn"><i class="fal fa-long-arrow-left"></i> Close</div>
    <div class="share-container fl-wrap  isShare"></div>
</div>
<!-- share-wrapper  end -->
</div>











<!--=============== scripts  ===============-->
<script type="text/javascript" src="http://localhost/safeer/frontend/js/jquery.min.js"></script>
<script type="text/javascript" src="http://localhost/safeer/frontend/js/plugins.js"></script>
<script type="text/javascript" src="http://localhost/safeer/frontend/js/core.js"></script>
<script type="text/javascript" src="http://localhost/safeer/frontend/js/scripts.js"></script>

</body>


</html>
